* {
  margin: 0px;
}
h1 {
  font-size: 1.7rem;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-color: #1a508b;
  color: white;
  padding: 1.5%;
}
h4 {
  font-size: small;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  resize: vertical;
}

.input-section {
  width: 100%;
}
h3 {
  font-size: 1rem;
}

.error-message {
  font: 0.3rem;
  font-style: italic;
  color: red;
}

.errmsg {
  color: red;
}
